*{
  transition-duration: 200ms;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.todo-list-container{
  margin-top: 50px;
}